# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
env.bak/
venv.bak/
myenv/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Streamlit static files
.streamlit/

# Logs
*.log

# Local configuration
*.local
